<!--Contact form-->
{% extends 'base.html' %}
{% block body_block %}

<!--div style = "margin:8opx"-->
 

<div class="container">
 
 {% load crispy_forms_tags %}  
<h1>Contact</h1>
<h4> please send us a message </h4>


            
    <form action="" method = "POST">
      {% csrf_token %}
      <div class="form-group">
      <label for="exampleFormControlInput1">Name</label>
      <input name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your name...">
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">E-mail</label>
        <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email address...">
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Message</label>
        <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="What's on your mind..."></textarea>
      </div>
       
      
        
        
          
        {{form.as_p|crispy}}
    
      <input type="submit" class = "btn btn-primary" value ="submit"/>
    
    </form>
    </div>

    {% endblock %}