{% extends 'base.html' %}
{% block body_block %}

<!-- title and tag -->
<div class="container">
    <h1>The First Project of Team 4</h1>
    <hr>

    <!-- Content of the body-->
    <h2>Experience</h2>
    <!--<div class="row"> -->
    <main>
        <table>
            <thead>
                <tr>
                    <th>Developer Image</th>
                    <th>Name</th>
                    <th>Experience</th>
                    <th>Skills</th>
                    <th>Education</th>
                </tr>
            </thead>
            <tr>
                <td><img src="/static/images/developer.png" alt="Developer 1"></td>
                <td>Duygu</td>
                <td>
                    <div class="left">
                        <ul>
                            <li>Organized transition from invoice to Quickbooks and online invoicing.</li>
                            <li>Utilized sci-kit learn in Python to simulate possible outcomes under different scenarios
                                that the user chose</li>                            
                        </ul>
                    </div>
                </td>
                <div class="skill">
                <td>PHP / Oracle / SQL / HTML / C# / Photoshop</td>
            </div>
                <td> B.S. WEB DEVELOPMENT</td>
            </tr>

            <tr>
                <td><img src="/static/images/developer.png" alt="Developer 2"></td>
                <td>Harrison</td>
                <td>
                    <div class="left">
                        <ul>
                            <li>Trained over 50 staff members in internal web functions, including steps on how to
                                independently make minor updates and changes</li>
                            <li>Built the logic for a streamlined ad-serving platform that scaled to our 100M users
                                which improved the page speed by 14% after implementation</li>
                        </ul>
                    </div>
                </td>
                <td>Oracle / JavaScript / HTML / CSS / .NET / C#</td>
                <td>B.S. WEB DEVELOPMENT</td>
            </tr>
            <tr>
                <td><img src="/static/images/developer.png" alt="Developer 3"></td>
                <td>Amr Ibn El Ahrache</td>
                <td>
                    <div class="left">
                        <ul>
                            <li>Trained 3 administrative assistants on customer service.</li>
                            <li>Built the logic for a streamlined ad-serving platform that scaled to our 100M users
                                which improved the page speed by 14% after implementation</li>
                        </ul>
                    </div>
                </td>
                <td>PERL / SQL / JavaScript / HTML / CSS / .NET</td>
                <td>B.S. WEB DEVELOPMENT / CERTIFIED JAVA PROGRAMMER</td>
            </tr>
            <tr>
                <td><img src="/static/images/developer.png" alt="Developer 4"></td>
                <td>Robert Andersson</td>
                <td>
                    <div class="left">
                        <ul>
                            <li>Trained over 50 staff members in internal web functions, including steps on how to
                                independently make minor updates and changes</li>
                            <li>Utilized sci-kit learn in Python to simulate possible outcomes under different scenarios
                                that the user chose</li>
                        </ul>
                    </div>
                </td>
                <td>PHP / Oracle / SQL / HTML / CSS / C#</td>
                <td>A.A. PROGRAMMING / B.S. WEB DEVELOPMENT</td>
            </tr>
            <tr>
                <td><img src="/static/images/developer.png" alt="Developer 5"></td>
                <td>Pierre</td>
                <td>
                    <div class="left">
                        <ul>
                            <li>Trained over 50 staff members in internal web functions, including steps on how to
                                independently make minor updates and changes</li>
                            <li>Built the logic for a streamlined ad-serving platform that scaled to our 100M users
                                which improved the page speed by 14% after implementation</li>
                        </ul>
                    </div>
                </td>
                <td>JavaScript / HTML / CSS / .NET / C#</td>
                <td>CERTIFIED JAVA PROGRAMMER</td>
            </tr>
        </table>
    </main>

    <!-- </div> -->
</div>

{% endblock %}